.category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    margin-right: 20px;
    cursor: pointer;
}

.html {
    background-color: #f44336; /* Red */
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}

.css {
    background-color: #2196f3; /* Blue */
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}

input[type="radio"]:checked + label {
    color: white;
    font-weight: bold;
}
